# Exclude our large vocable file
# Normal users will extract this from the .tar.gz
/orb_slam/Data/ORBvoc.yml

# Exclude build folders
/orb_slam/build/
/g2o/build/
/DBoW2/build/

# Exclude stat file
/orb_slam/KeyFrameTrajectory.txt
/orb_slam/generated/*
!/orb_slam/generated/.gitkeep

# Codelight projects
*.project
*.mk
/default/*
Debug/*